/* Estilos generales de pagina */

@font-face {
    font-family: Berg;
    src: url('./assets/BergWesternRegular.ttf') format('truetype'),
         url('./assets/BergWesternRegular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Berg;
}

body {
    background-color: var(--grayColor);
}

a {
    text-decoration: none;
}

:root {
    --mainColor: #800000;
    --bgdColor: #0B0E14;
    --grayColor: #646E78;
    --accentColor: #1F7A8C;
    --whiteColor: #FFFCF2;
}

/* Estilos de Navbar */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    background-color: var(--bgdColor);
    color: var(--whiteColor);
}

.logoImg {
    height: 5rem;
    width: auto;
    padding: 0 3rem;
}

.links {
    position: absolute;
    top: -400px;
    margin: auto;
    text-align: center;
}

.links.active {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    top: 7rem;
    padding-top: 7rem;
    background-color: var(--bgdColor);
}

nav a {
    margin: 0 2rem;
    color: var(--whiteColor);
    font-size: 1.2rem;
}

nav a:hover {
    color: var(--mainColor);
    transition: .5s;
}

.navButton {
    padding: 1rem;
    font-size: 25px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--whiteColor);
}

@media screen and (min-width: 768px) {
    .navButton {
        display: none;
    }

    .links {
        position: initial;
        margin: 0;
    }
}

/* Estilo para carrito de compra */

.cart {
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.cart:hover {
    color: var(--mainColor);
    transition: .5s;
}

/* Estilos para greeting */

.greetCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 1rem 0;
    padding: 4rem 2rem;
    background-color: var(--accentColor);
}

.greetTittle {
    color: var(--bgdColor);
    font-size: 1.5rem;
    padding: 0 1rem;
    background: linear-gradient(to bottom, transparent 60%, #bbbbbb 40%);
}

.greetParagraph {
    color: var(--bgdColor);
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilos de footer */

footer {
    background-color: var(--bgdColor);
    padding: 2rem;
    text-align: center;
}

footer a {
    color: var(--accentColor);
    text-decoration: none;
    margin: 0 1.5rem;
}

/* Estilos para el texto de copyright en el footer */
    footer .copyright {
    color: var(--grayColor);
    margin-top: 1.5rem;
}